.container {
  display: grid;

  grid-template-columns: 1fr;

  gap: 3rem;

  margin: 0 auto;

  height: max-content;

  max-width: 100rem;

  padding: 2rem;
}

.actions {
  display: flex;

  flex-direction: column;

  gap: 2rem;
}

.actions > :local(button) {
  height: 4em;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }
}

@media (min-width: 500px) {
  .actions {
    flex-direction: row;
  }

  .actions > :local(button) {
    height: 4em;

    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr auto;
  }

  .title {
    grid-column: 1 / 3;
  }

  .actions {
    flex-direction: column;
  }
}
