.container {
  padding: 2rem;

  margin: 0 auto;

  max-width: 100rem;
}

.title {
  margin-bottom: 2rem;
}

.game-status {
  padding: 2rem;

  background-color: var(--primary-white-color);

  border-radius: var(--border-radius);

  text-align: center;

  font-weight: 500;

  width: 20rem;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }
}
