.container {
  width: 100%;

  background-color: var(--secondary-black-color);

  color: var(--primary-white-color);

  font-weight: 500;

  padding: 2rem;
}

.list {
  display: flex;

  justify-content: center;

  gap: 2rem;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }
}
