.container {
  padding: 2rem;

  margin: 0 auto;

  max-width: 100rem;
}

.title {
  margin-bottom: 2rem;
}

.target {
  padding: 2rem;

  background-color: var(--secondary-black-color);

  color: var(--primary-white-color);

  border-radius: 0.5rem;
}

.target:not(:last-child) {
  margin-bottom: 2rem;
}

.anchor-target {
  display: flex;

  align-items: center;

  gap: 2rem;
}

.target-icon {
  height: 4em;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }

  .target {
    padding: 3rem;
  }
}
