:root {
  --primary-black-color: #262828;
  --secondary-black-color: #222;

  --primary-white-color: #f6f6f8;
  --secondary-white-color: #c2c2c2;

  --border-radius: 0.5rem;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--primary-black-color);

  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;

  margin: 0;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

svg {
  width: auto;
}

button {
  border: none;

  cursor: pointer;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }
}
